In [8]:
import pandas as pd
from great_expectations.data_context import FileDataContext
import os
# from src.data import preprocess_data

# os.chdir("../")
print(os.getcwd())

/home/pc/Documents/Innopolis/Sum24/MLOps

In [ ]:
data = pd.read_csv('data/samples/sample.csv')
data

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,15829916,1483,https://www.zameen.com/Property/d_h_a_dha_phas...,House,70000000,DHA Defence,Karachi,Sindh,24.805045,67.064323,6,16 Marla,For Sale,6,05-06-2019,Parekh Estate,Noman Charakry,Marla,16.0,15-20 Marla
1,15829917,1482,https://www.zameen.com/Property/d_h_a_dha_phas...,House,75000000,DHA Defence,Karachi,Sindh,24.810265,67.043552,5,1 Kanal,For Sale,5,05-06-2019,Parekh Estate,Noman Charakry,Kanal,1.0,1-5 Kanal
2,15829919,1482,https://www.zameen.com/Property/d_h_a_dha_phas...,House,75000000,DHA Defence,Karachi,Sindh,24.810265,67.043552,3,1 Kanal,For Sale,3,05-06-2019,Parekh Estate,Noman Charakry,Kanal,1.0,1-5 Kanal
3,15829920,1482,https://www.zameen.com/Property/d_h_a_dha_phas...,House,72500000,DHA Defence,Karachi,Sindh,24.810265,67.043552,6,1 Kanal,For Sale,6,05-06-2019,Parekh Estate,Noman Charakry,Kanal,1.0,1-5 Kanal
4,15829921,1482,https://www.zameen.com/Property/d_h_a_dha_phas...,House,80000000,DHA Defence,Karachi,Sindh,24.810265,67.043552,5,1 Kanal,For Sale,5,05-06-2019,Parekh Estate,Noman Charakry,Kanal,1.0,1-5 Kanal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33684,16941374,3865,https://www.zameen.com/Property/gulshan_e_ravi...,House,14000000,Gulshan-e-Ravi,Lahore,Punjab,31.554768,74.277577,0,5 Marla,For Sale,4,06-26-2019,New Al Haseeb Estate Advisor & Builders,Malik Zulfiqar,Marla,5.0,0-5 Marla
33685,16941375,893,https://www.zameen.com/Property/lahore_gulshan...,House,6500000,Gulshan-e-Ravi,Lahore,Punjab,31.551184,74.284058,0,3 Marla,For Sale,3,06-26-2019,New Al Haseeb Estate Advisor & Builders,Malik Zulfiqar,Marla,3.0,0-5 Marla
33686,16306660,8950,https://www.zameen.com/Property/lahore_shadman...,House,120000000,Shadman 2,Lahore,Punjab,31.535451,74.337407,0,2 Kanal,For Sale,5,06-26-2019,Ahmad Raza Butt Real Estate,Ahmad Raza Butt,Kanal,2.0,1-5 Kanal
33687,16943210,1446,https://www.zameen.com/Property/dha_defence_dh...,House,45000000,DHA Defence,Lahore,Punjab,31.465422,74.385309,6,1 Kanal,For Sale,5,06-26-2019,Syed Brothers (Pvt) Ltd. (Ph: 5 DHA),Shehroz Ali,Kanal,1.0,1-5 Kanal
33688,16943188,760,https://www.zameen.com/Property/lahore_tajpura...,House,4000000,Tajpura,Lahore,Punjab,31.557474,74.401431,2,2 Marla,For Sale,2,06-26-2019,Mian Farooq Real Estate,Mian Farooq,Marla,2.0,0-5 Marla

In [ ]:
X, y = preprocess_data(data)
X

,location_id,latitude,longitude,baths,area,bedrooms,year,agency_0,agency_1,agency_2,...,city_Rawalpindi,province_name_Islamabad Capital,province_name_Punjab,province_name_Sindh,purpose_For Rent,purpose_For Sale,day_sin,day_cos,month_sin,month_cos
0,0.106542,0.006129,0.029029,1.301264,0.095935,1.409967,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01
1,0.106470,0.006704,0.026317,0.863127,0.187207,0.892437,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01
2,0.106470,0.006704,0.026317,-0.013149,0.187207,-0.142625,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01
3,0.106470,0.006704,0.026317,1.301264,0.187207,1.409967,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01
4,0.106470,0.006704,0.026317,0.863127,0.187207,0.892437,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33683,0.277786,0.749886,0.971057,-1.327562,-0.155066,0.374906,0.0,-0.130238,-0.005494,-0.003664,...,0.0,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16
33684,0.064127,0.749491,0.971903,-1.327562,-0.200702,-0.142625,0.0,-0.130238,-0.005494,-0.003664,...,0.0,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16
33685,0.643350,0.747757,0.978871,-1.327562,0.643571,0.892437,0.0,-0.130442,-0.005668,-0.003803,...,0.0,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16
33686,0.103882,0.740040,0.985126,1.301264,0.187207,0.892437,0.0,-0.132727,-0.008686,-0.006551,...,0.0,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16
33687,0.054565,0.750184,0.987232,-0.451287,-0.223520,-0.660156,0.0,-0.130612,-0.005819,-0.003929,...,0.0,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16

In [ ]:
y

0        1.200807
1        1.323402
2        1.323402
3        1.262104
4        1.445996
           ...
33683   -0.172253
33684   -0.356145
33685    2.426754
33686    0.587834
33687   -0.417443
Name: price, Length: 33688, dtype: float64

In [ ]:
df = pd.concat([X, y], axis=1)
df

,location_id,latitude,longitude,baths,area,bedrooms,year,agency_0,agency_1,agency_2,...,province_name_Islamabad Capital,province_name_Punjab,province_name_Sindh,purpose_For Rent,purpose_For Sale,day_sin,day_cos,month_sin,month_cos,price
0,0.106542,0.006129,0.029029,1.301264,0.095935,1.409967,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01,1.200807
1,0.106470,0.006704,0.026317,0.863127,0.187207,0.892437,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01,1.323402
2,0.106470,0.006704,0.026317,-0.013149,0.187207,-0.142625,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01,1.323402
3,0.106470,0.006704,0.026317,1.301264,0.187207,1.409967,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01,1.262104
4,0.106470,0.006704,0.026317,0.863127,0.187207,0.892437,0.0,-0.130954,-0.006154,-0.004203,...,0.0,0.0,1.0,0.0,1.0,0.937752,0.937752,5.000000e-01,5.000000e-01,1.445996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33683,0.277786,0.749886,0.971057,-1.327562,-0.155066,0.374906,0.0,-0.130238,-0.005494,-0.003664,...,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16,-0.172253
33684,0.064127,0.749491,0.971903,-1.327562,-0.200702,-0.142625,0.0,-0.130238,-0.005494,-0.003664,...,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16,-0.356145
33685,0.643350,0.747757,0.978871,-1.327562,0.643571,0.892437,0.0,-0.130442,-0.005668,-0.003803,...,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16,2.426754
33686,0.103882,0.740040,0.985126,1.301264,0.187207,0.892437,0.0,-0.132727,-0.008686,-0.006551,...,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16,0.587834
33687,0.054565,0.750184,0.987232,-0.451287,-0.223520,-0.660156,0.0,-0.130612,-0.005819,-0.003929,...,0.0,1.0,0.0,0.0,1.0,-0.848644,-0.848644,1.224647e-16,1.224647e-16,-0.417443

In [ ]:
context = FileDataContext(context_root_dir="services/gx")
context

{
  "anonymous_usage_statistics": {
    "explicit_url": false,
    "explicit_id": true,
    "enabled": true,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "data_context_id": "0130baae-afdd-427c-9cf0-7472caa4256b"
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/data_docs/local_site/"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "fluent_datasources": {
    "first_ds": {
      "type": "pandas",
      "assets": {
        "asset01": {
          "type": "csv",
          "filepath_or_buffer": "data\\samples\\sample.csv"
        }
      }
    },
    "my_pandas_ds": {
      "type": "pandas",
      "assets": {
        "my_pandas_df": {
          "type": "dataframe",
          "batch_metadata": {}
        }
      }
    },
    "ds": {
      "type": "pandas",
      "assets": {
        "df": {
          "type": "dataframe",
          "batch_metadata": {}
        }
      }
    }
  },
  "include_rendered_content": {
    "expectation_suite": false,
    "globally": false,
    "expectation_validation_result": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

In [ ]:
suite = context.add_or_update_expectation_suite("features_expectations_suite")

In [ ]:
context.list_expectation_suite_names()

['features_expectations_suite', 'first_phase_expectation_suite']

In [ ]:
import great_expectations as gx
from great_expectations.core.batch import BatchRequest
from great_expectations.core import ExpectationConfiguration

In [ ]:
# not null for all columns
expectations = [
    ExpectationConfiguration(
        expectation_type="expect_column_values_to_not_be_null",
        kwargs={
            "column": col
        }
    ) for col in df.columns
]

for expectation in expectations:
    suite.add_expectation(expectation)

In [ ]:
assert len(expectations) == len(df.columns)

In [ ]:
ds = context.sources.add_or_update_pandas(name="my_pandas_ds")

In [ ]:
da = ds.add_dataframe_asset(
    name="my_pandas_df",
    dataframe=df
)

In [ ]:
batch_request = da.build_batch_request()

In [ ]:
batch_request

BatchRequest(datasource_name='my_pandas_ds', data_asset_name='my_pandas_df', options={})

In [ ]:
data_asset = context.get_datasource("my_pandas_ds").get_asset("my_pandas_df")
print(data_asset)

batch_metadata: {}
name: my_pandas_df
type: dataframe

In [ ]:
batch_request = data_asset.build_batch_request()
batch_request

BatchRequest(datasource_name='my_pandas_ds', data_asset_name='my_pandas_df', options={})

In [ ]:
# month_sin, month_cos, day_sin, day_cos: -1 <= x <= 1
expectations = [
    ExpectationConfiguration(
        expectation_type="expect_column_values_to_be_between",
        kwargs={
            "column": col,
            "min_value": -1,
            "max_value": 1
        }
    ) for col in ["month_sin", "month_cos", "day_sin", "day_cos"]
]

for expectation in expectations:
    suite.add_expectation(expectation)

In [ ]:
assert len(expectations) == 4

In [ ]:
validator = context.get_validator(
    batch_request=batch_request,
    expectation_suite=suite
)

In [ ]:
results = validator.validate()

Calculating Metrics:   0%|          | 0/4602 [00:00<?, ?it/s]

In [ ]:
assert results["success"] == True

In [ ]:
validator.save_expectation_suite(discard_failed_expectations=False)

In [ ]:
checkpoint = context.add_or_update_checkpoint(
    name="first_phase_features_checkpoint",
    validations=[{
        "batch_request": batch_request,
        "expectation_suite_name": "features_expectations_suite"
    }]
)

In [ ]:
checkpoint

{
  "action_list": [
    {
      "name": "store_validation_result",
      "action": {
        "class_name": "StoreValidationResultAction"
      }
    },
    {
      "name": "store_evaluation_params",
      "action": {
        "class_name": "StoreEvaluationParametersAction"
      }
    },
    {
      "name": "update_data_docs",
      "action": {
        "class_name": "UpdateDataDocsAction"
      }
    }
  ],
  "batch_request": {},
  "class_name": "Checkpoint",
  "config_version": 1.0,
  "evaluation_parameters": {},
  "module_name": "great_expectations.checkpoint",
  "name": "first_phase_features_checkpoint",
  "profilers": [],
  "runtime_configuration": {},
  "validations": [
    {
      "expectation_suite_name": "features_expectations_suite",
      "batch_request": {
        "datasource_name": "my_pandas_ds",
        "data_asset_name": "my_pandas_df",
        "options": {}
      }
    }
  ]
}

In [ ]:
results = checkpoint.run()

Calculating Metrics:   0%|          | 0/7668 [00:00<?, ?it/s]

In [ ]:
assert results["success"] == True